body {
  padding-top: 0;  /* Move body of page below navbar. */
}

.login-link-text {
  color: white !important;
}

/*.button {*/
  /*color: white;*/
/*}*/

.label:before{
  content:"*" ;
  color:red
}

#p01 {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}