<template name="If_Logged_In">
  {{#if authInProcess}}
    <p>loading ...</p>

  {{else}}
    {{#if canShow}}
      {{> UI.contentBlock }}
    {{else}}
      <!--<div style="padding-top: 40px" class="ui container">-->
        <!--<div class="ui text container">-->
          <table align="center" style="width:800px; margin-top: 20px;" class="ui celled table">
            <thead>
            <tr>
              <th>Name</th>
              <th>Last</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Email</th>
            </tr>
            </thead>

            <tbody>
            {{#each stuff in stuffList}}
              <tr>
                <td>{{stuff.first}}</td>
                <td>{{stuff.last}}</td>
                <td>{{stuff.address}}</td>
                <td>{{stuff.phone}}</td>
                <td>{{stuff.email}}</td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        <!--</div>-->
      <!--</div>-->
    {{/if}}
  {{/if}}
</template>
